<!DOCTYPE html>
<html>

  <head>
    <title>Ma page Google</title>
    <link rel="stylesheet" type="text/css" href="css/style_Google_page1.css">
  </head>

  <body>

    <div id="header">
      <ul> 
        <li><a href="#">Gmail</a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#" title="Applications Google" role="button"><img src="google-apps.png" width="30"></a></li>
        <li><a href="#">Connexion</a></li>
      </ul>
    </div>

    <div id="main">
      <ul>
        <li><img src="https://www.google.fr/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png"></li>
        <li><div id="searchbar">
                <form action="" class="formulaire">
                    <input class="champ" type="text" value=" "/>
                    <input class="bouton" type="button" value=" " />  
                </form>
                </div></li>
        <li><input value="Recherche Google" type="submit"></li>
        <li><input value="J'ai de la chance" type="submit"></li>
      </ul>
    </div>

    <div id="footer">
      <ul id="left_footer">
        <li><a href="#">Publicité</a></li>
        <li><a href="#">Entreprise</a></li>
        <li><a href="#">À propos</a></li>
      </ul>

      <ul id="right_footer">
        <li><a href="#">Confidentialité</a></li>
        <li><a href="#">Conditions</a></li>
        <li><a href="#">Paramètres</a></li>
      </ul>
    </div>


  </body>
</html>