body {
    font-family: arial, sans-serif;
    background: #fff;
    color: #222;
    display: block;
    text-align: center;
}

body header nav {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    float: right;
    margin-right: 25px;
    vertical-align: middle;
}

header nav ul li {
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    opacity: .75;
    padding: 8px;
    margin-top: -20px;
}

header nav ul li:hover {
    opacity: 1;
}

.A {
    border-radius: 50%;
}


.logo_subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: absolute;
    margin-right:-208px;
    top: 76px;
    white-space: nowrap;
    padding-bottom: 20px;
}

.form {
  text-align: center;
    position: relative;
}

#form-search { 
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding: 6px 9px 0;
    background-color: #fff;
    height: 44px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    line-height: 0;
    overflow: visible;
    white-space: nowrap;
    background: transparent;
    border: 0;
    height: 44px;
    line-height: 44px;
    margin-top: -1px;
    outline: 0;
    padding-right: 16px;
    position: relative;
    top: -1px;
}

#form-search:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.form #form-search {
  padding: 0 8px;
}

/*#form-search:hover {
  border-color: #e4e4e4;
  padding-top: 0;
}*/

.voc {
    position: absolute;
    height: 25px;
    width: 25px;
    margin-left:-45px;
    margin-top:10px;
}


.btn {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
    margin-top: -15px;
    
    height: 36px;
    line-height: 27px;
    

    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.btn:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    min-width: 980px;
    color: #222;
    font-size: 10pt;
    opacity: .75;
    padding: 8px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

footer span a {
    height: 40px;
    width: 67px;
    padding-left: 27px;
}

.footer_left {
    float:left;
}

.footer_right{
    float:right;
}

.click{ 
position: relative;
display: inline-block;
text-align: center;
}

.showme {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    
}
.showme:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}